from dataclasses import dataclass
from datetime import date, datetime
from typing import Literal

@dataclass
class DTO: ...

@dataclass
class DTOCreate(DTO): ...

@dataclass
class DTORead(DTO): ...
{% for class in dtos %}
{% for model in class.models %}
@dataclass
class {{ class.name }}{{ model.name }}(DTO{{ model.name }}):
{%- for slot in model.slots %}
    {{ slot.name }}: {{ slot.python_type }}
{%- else %}
    ...
{%- endfor %}
{% endfor %}{% endfor %}
