from dataclasses import dataclass
from typing import ClassVar, Type

from {{import_path}}.domain import (
{%- for class in classes %}
    {{ class.class_name }} as {{ class.class_name }}Model,
{%- endfor %}
)

from {{import_path}}.entity import (
{%- for class in classes %}
    {{ class.class_name }} as {{ class.class_name }}Entity,
{%- endfor %}
)

from {{import_path}}.dto import (
    DTOCreate,
    DTORead,
{%- for class in classes %}
{%- if class.is_addressable %}
    {{ class.class_name }}Read,
{%- endif %}
{%- if class.is_addressable %}
    {{ class.class_name }}Create,
{%- endif %}
{%- endfor %}
)

@dataclass
class RelationshipSchemaClass:
    model_class: ClassVar[Type]
    entity_class: ClassVar[Type]

    @classmethod
    def entity_name(cls) -> str:
        return cls.__name__.lower()

    @classmethod
    def entity_field_names(cls) -> set[str]:
        return set(cls.entity_class.__mapper__.attrs.keys())

@dataclass
class SchemaClassAddressable(RelationshipSchemaClass):
    write_model: ClassVar[Type[DTOCreate]]
    read_model: ClassVar[Type[DTORead]]
    api_resource_name: ClassVar[str]

{% for class in classes %}
@dataclass
class {{ class.class_name }}({{ "SchemaClassAddressable" if class.is_addressable else "RelationshipSchemaClass" }}):
    model_class = {{ class.class_name }}Model
    entity_class = {{ class.class_name }}Entity
    {%- if class.is_addressable %}
    write_model = {{ class.class_name }}Create
    read_model = {{ class.class_name }}Read
    api_resource_name = "{{ class.api_resource_name }}"
    {%- endif %}
{% endfor %}
